.navbar-brand{
padding-left: 20px;



}


.col-xs-12{

margin-top: 90px;

}
.head{
font-size: 30px;
margin-top: 60px;

}
.container h2{
padding-top:50px;


}
.chi{
background-color: 	moccasin ;


}


.col-xs-12 p{
padding: 50px;
margin-top: -1%;
}

.sus{

background-color: 	lightskyblue;

}
.beef{

background-color: 		pink;

}
